@{
    ViewData["Title"] = "Admin Dashboard";
}

<h2>Admin Dashboard</h2>

<nav>
    <ul>
        <li>
            <a asp-controller="Admin" asp-action="ProductList">Manage Products</a>
        </li>
    </ul>
</nav>

